{
  "extends": "airbnb",
  ecmaFeatures: { modules: true },
  rules: {
    "default-case": 0,
    "func-names": 0,
    "space-before-function-paren": [2, { "anonymous": "always", "named": "never" }],
    "no-console": 0,
    "comma-dangle": 0,
    "padded-blocks": 0
  }
}