{
  "extends": "airbnb",
  "plugins": ["react"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "default-case": 0,
    "func-names": 0,
    "space-before-function-paren": [2, { "anonymous": "always", "named": "never" }],
    "no-console": 0,
    "comma-dangle": 0,
    "padded-blocks": 0,
    "arrow-body-style": 0
  }
}